[package]
name = "alloy-zksync"
version = "0.9.0"
edition = "2021"
authors = ["Igor Aleksanov <popzxc@yandex.ru>"]
license = "MIT OR Apache-2.0"
description = "ZKsync network implementation for alloy"

[dependencies]
alloy = { version = "0.9.2", features = [
  "full",
  "rlp",
  "serde",
  "sol-types",
] } # TODO: Set features granularly?
alloy-consensus-any = { version = "0.9.2" }
async-trait = "0.1.80"
chrono = { version = "0.4.38", features = ["serde"] }
futures-utils-wasm = "0.1.0"
k256 = "0.13.3"
rand = "0.8.5"
reqwest = "0.12.8"
serde = "1.0.203"
thiserror = "2.0.9"
tracing = "0.1.40"
url = "2.5.2"

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
anyhow = "1"
hex = "0.4.3"
assert_matches = "1.5.0"
serde_json = "1.0.1"
jsonrpsee = { version = "0.24.7", features = ["server"] }
