name: Rust

on:
  pull_request:
    branches: [ "*" ]
  push:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: "always"
  CARGO_INCREMENTAL: "0"
  RUSTC_WRAPPER: "sccache"
  SCCACHE_GHA_ENABLED: "true"
  # Minimum supported Rust version.
  msrv: 1.79.0

permissions:
  contents: write

jobs:
  build-msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.msrv }}
      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.4

      - name: Build
        run: cargo build --all-features

      - name: Build (no features)
        run: cargo build --no-default-features

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt, clippy, rust-src
      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.4

      - name: Install era-test-node
        uses: dutterbutter/era-test-node-action@v1

      - name: Format
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy --all-features --all-targets -- -D warnings
      - name: Clippy (no features)
        run: cargo clippy --no-default-features --all-targets -- -D warnings

      - name: Run tests
        run: cargo test --all-features --all-targets
      - name: Run tests (no features)
        run: cargo test --no-default-features --all-targets
      - name: Run doc tests
        run: cargo test --all-features --doc

      - name: Run examples
        run: |
          cargo run --example showcase
          cargo run --example deploy

  document:
    needs:
      - test
      - build-msrv
    if: github.event_name == 'push' && github.ref_type == 'branch'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.msrv }}
      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.4

      - name: Build docs
        run: |
          cargo clean --doc && \
          cargo rustdoc --all-features -- --cfg docsrs

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: target/doc
          single-commit: true
